@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.key {
  border: 1px solid #999;
  background-color: #eee;
  box-shadow: 1px 1px 3px #001a;
  display: inline-block;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 28px;
  flex-direction: column;
  margin: 10px;
  max-width: 150px;
  position: relative;
}

.key small {
  
}
